<!DOCTYPE html>
<html>
    <header>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/formu.css') }}">
    </header>
    <body>
        <div class="container">
                <div class="row">
                    <h1> Bienvenue sur Media Bundle</h1>
                    <h2> Il y a du sons partout </h2>
                    <ul>
                        <li><a href="{{ asset('album') }}">Ajouter un nouvel album</a></li>
                        <li><a href="{{ asset('comment') }}">Ajouter un commentaire</a></li>
                    </ul>
                </div>
        </div>
    </body>
</html>